<body class="home">
<ng-sidebar-container>
    <!--Sidebar-->

    <ng-sidebar [opened]="opened">
        <app-sidebar></app-sidebar>
    </ng-sidebar>


    <div ng-sidebar-content>
            <button (click)="toggleSidebar()" class="hamburguer"></button>
            <figure class="image is-480x480">
                <img [src]=imgHeader height="100px" class="header">
            </figure>

            <a routerLink="/workerregister" class="linkworker" *ngIf="createCompany">Conviértete en prestador de
                servicios</a>

            <main>
                <form style="width: 100%;" class="myform" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
                    <label class="input is-rounded" for="serviceSelection">¿Qué servicio necesitas? </label>
                    <div>
                        <select  id="serviceSelection" name="serviceSelection" ngModel="{{selectedService}}">
                            <option *ngFor="let servicio of servicios" value="{{servicio.id}}"> {{servicio.name}} </option>
                        </select>
                    </div>

                    <br>
                    <br>
                    <div>
                        <label class="input is-rounded" for="serviceSelection">¿Para que día? </label>
                        <input name="date" class="dateInput" ngModel>
                    </div>
                    
                    <!--<label class="input is-rounded" for="selectDate">¿Cuándo podemos visitarte?</label>
                    <mat-form-field id="selectDate">
                        <input matInput type="text" [matDatepicker]="picker" placeholder="Escoge una fecha"
                               style="background-color: #ffffff">
                        <mat-datepicker-toggle matSuffix [for]="picker" style="background-color: #ffffff">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker name="date" ngModel></mat-datepicker>
                    </mat-form-field>-->
                    <br>
                    <br>
                    <label class="input is-rounded" for="ciudadSelection">Seleccione la ciudad.</label>
                    <select id="ciudadSelection" name="ciudadSelection" ngModel="{{selectedCiudad}}">
                        <option *ngFor="let ciudad of ciudades" value="{{ciudad.id}}">
                            {{ciudad.name}}
                        </option>
                    </select>
                    <br>
                    <br>

                    <textarea class="textarea" type="text" name="desc"
                              placeholder="Por favor describe los detalles del servicio que necesitas" ngModel></textarea>
                    <br>

                    <button class="search" type="submit">Buscar</button>
                </form>

                <div class="card1"><img [src]=imgPeople class="card1"></div>

                <div class="card2"><img [src]=imgWomen class="card2"></div>
            </main>
    </div>
</ng-sidebar-container>


</body>
